api/xsd/Rel_17.sp4_1.197_OCISchemaAS/Services/OCISchemaServiceAccountAuthorizationCodes.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2004-2005 Broadsoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  S E R V I C E  P A R T                 -->
<!--                                                                        -->
<!-- A C C O U N T   A U T H O R I Z A T I O N   C O D E S  S E R V I C E   -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- A C C O U N T   A U T H O R I Z A T I O N   C O D E S                              -->
  <!-- R E Q U E S T S  A N D  R E S P O N S E S                                          -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    GroupAccountAuthorizationCodesAddListRequest    
    GroupAccountAuthorizationCodesDeleteListRequest    
    GroupAccountAuthorizationCodesGetAvailableUserListRequest    
    GroupAccountAuthorizationCodesGetListRequest    
    GroupAccountAuthorizationCodesGetRequest    
    GroupAccountAuthorizationCodesModifyRequest    
    
  --> 
  
  <xs:complexType name="GroupAccountAuthorizationCodesAddListRequest">
    <xs:annotation>
      <xs:documentation>
        Add a list of account/authorization codes to a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="codeEntry" type="AccountAuthorizationCodeEntry" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupAccountAuthorizationCodesDeleteListRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a list of account/authorization codes from a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="code" type="AccountAuthorizationCode" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupAccountAuthorizationCodesGetAvailableUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Get a list of non restricted users for the account/authorization codes service.
        The response is either GroupAccountAuthorizationCodesGetAvailableUserListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupAccountAuthorizationCodesGetAvailableUserListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupAccountAuthorizationCodesGetAvailableUserListRequest.
        The column headings are: "User Id", "Last Name", "First Name", "Hiragana Last Name" and
        "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="userTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupAccountAuthorizationCodesGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Request the list of account/authorization codes for a group.
        The response is either a GroupAccountAuthorizationCodesGetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupAccountAuthorizationCodesGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupAccountAuthorizationCodesGetListRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="codeEntry" type="AccountAuthorizationCodeEntry" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupAccountAuthorizationCodesGetRequest">
    <xs:annotation>
      <xs:documentation>
        Request the group's account/authorization codes setting.
        The response is either a GroupAccountAuthorizationCodesGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupAccountAuthorizationCodesGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupAccountAuthorizationCodesGetRequest.
        The tables has the following column headings:
        "User Id", "Last Name", "First Name", "Hiragana Last Name" and "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="type" type="AccountAuthorizationCodeType"/>
          <xs:element name="numberOfDigits" type="AccountAuthorizationCodeNumberOfDigits"/>
          <xs:element name="allowLocalAndTollFreeCalls" type="xs:boolean"/>
          <xs:element name="mandatoryUsageUserTable" type="core:OCITable"/>
          <xs:element name="optionalUsageUserTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupAccountAuthorizationCodesModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Change the group's account/authorization codes setting.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="codeType" type="AccountAuthorizationCodeType" minOccurs="0"/>
          <xs:element name="numberOfDigits" type="AccountAuthorizationCodeNumberOfDigits" minOccurs="0"/>
          <xs:element name="allowLocalAndTollFreeCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="mandatoryUsageUserIdList" type="ReplacementUserIdList" nillable="true" minOccurs="0"/>
          <xs:element name="optionalUsageUserIdList" type="ReplacementUserIdList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:simpleType name="AccountAuthorizationCode">
    <xs:annotation>
      <xs:documentation>
        Account/Authorization Code.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="2"/>
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="AccountAuthorizationCodeDescription">
    <xs:annotation>
      <xs:documentation>
        Account/Authorization Code Description.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:complexType name="AccountAuthorizationCodeEntry">
    <xs:annotation>
      <xs:documentation>
        Account/Authorization Code.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code" type="AccountAuthorizationCode"/>
      <xs:element name="description" type="AccountAuthorizationCodeDescription" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:simpleType name="AccountAuthorizationCodeType">
    <xs:annotation>
      <xs:documentation>
        Account/Authorization Code Type.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Account Code"/>
      <xs:enumeration value="Authorization Code"/>
      <xs:enumeration value="Deactivated"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="AccountAuthorizationCodeNumberOfDigits">
    <xs:annotation>
      <xs:documentation>
        Number of Account/Authorization Code Digits.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="2"/>
      <xs:maxInclusive value="14"/>
    </xs:restriction>
  </xs:simpleType>    
    
</xs:schema>
