api/xsd/Rel_17.sp4_1.197_OCISchemaAS/Services/OCISchemaServiceSelectiveCallRejection.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2004-2005 Broadsoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  S E R V I C E  P A R T                 -->
<!--                                                                        -->
<!-- S E L E C T I V E   C A L L   R E J E C T I O N  S E R V I C E         -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- S E L E C T I V E   C A L L   R E J E C T I O N                                    -->
  <!-- R E Q U E S T S  A N D  R E S P O N S E S                                          -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    UserSelectiveCallRejectionAddCriteriaRequest16    
    UserSelectiveCallRejectionDeleteCriteriaRequest    
    UserSelectiveCallRejectionGetCriteriaListRequest    
    UserSelectiveCallRejectionGetCriteriaRequest16sp1    
    UserSelectiveCallRejectionModifyActiveCriteriaListRequest    
    UserSelectiveCallRejectionModifyCriteriaRequest16    
    
  --> 
  
  <xs:complexType name="UserSelectiveCallRejectionAddCriteriaRequest16">
    <xs:annotation>
      <xs:documentation>
        Add a criteria to the user's selective call rejection service.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
          <xs:element name="timeSchedule" type="TimeSchedule" minOccurs="0"/>
          <xs:element name="fromDnCriteria" type="SelectiveCallRejectionCriteriaCallType"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0"/>
          <xs:element name="blacklisted" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserSelectiveCallRejectionDeleteCriteriaRequest">
    <xs:annotation>
      <xs:documentation>
        Delete a criteria from the user's selective call rejection service.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserSelectiveCallRejectionGetCriteriaListRequest">
    <xs:annotation>
      <xs:documentation>
        Get the user's selective call rejection criteria listing.
        The response is either a UserSelectiveCallRejectionGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserSelectiveCallRejectionGetCriteriaListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the UserSelectiveCallRejectionGetCriteriaRequest.
        The criteria table's column headings are:
        "Is Active", "Criteria Name", "Time Schedule", "Calls From", "Blacklisted" and "Holiday Schedule".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="criteriaTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserSelectiveCallRejectionGetCriteriaRequest16sp1">
    <xs:annotation>
      <xs:documentation>
        Get a criteria for the user's selective call rejection service.
        The response is either a UserSelectiveCallRejectionGetCriteriaResponse16sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserSelectiveCallRejectionGetCriteriaResponse16sp1">
    <xs:annotation>
      <xs:documentation>
        Response to the UserSelectiveCallRejectionGetCriteriaRequest16sp1.
        Private Phone Numbers are omitted from the fromDnCriteria.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="timeSchedule" type="TimeSchedule" minOccurs="0"/>
          <xs:element name="fromDnCriteria" type="SelectiveCallRejectionCriteriaCallType"/>
          <xs:element name="blacklisted" type="xs:boolean"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" minOccurs="0"/>
          <xs:element name="private" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserSelectiveCallRejectionModifyActiveCriteriaListRequest">
    <xs:annotation>
      <xs:documentation>
        Activate the user's selective call rejection criteria list.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaActivation" type="CriteriaActivation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserSelectiveCallRejectionModifyCriteriaRequest16">
    <xs:annotation>
      <xs:documentation>
        Modify a criteria for the user's selective call rejection service.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
          <xs:element name="criteriaName" type="CriteriaName"/>
          <xs:element name="newCriteriaName" type="CriteriaName" minOccurs="0"/>
          <xs:element name="timeSchedule" type="TimeSchedule" nillable="true" minOccurs="0"/>
          <xs:element name="fromDnCriteria" type="SelectiveCallRejectionCriteriaCallTypeModify" minOccurs="0"/>
          <xs:element name="holidaySchedule" type="HolidaySchedule" nillable="true" minOccurs="0"/>
          <xs:element name="blacklisted" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SelectiveCallRejectionCriteriaCallType">
    <xs:annotation>
      <xs:documentation>
        The call type criteria used within an add/get request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fromDnCriteriaSelection" type="SelectiveCallRejectionCriteriaCallTypeSelection"/>
      <xs:element name="includeAnonymousCallers" type="xs:boolean"/>
      <xs:element name="includeUnavailableCallers" type="xs:boolean"/>
      <xs:element name="phoneNumber" type="DN" minOccurs="0" maxOccurs="12"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="SelectiveCallRejectionCriteriaCallTypeModify">
    <xs:annotation>
      <xs:documentation>
        The call type criteria used within a modify request.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="fromDnCriteriaSelection" type="SelectiveCallRejectionCriteriaCallTypeSelection" minOccurs="0"/>
      <xs:element name="includeAnonymousCallers" type="xs:boolean" minOccurs="0"/>
      <xs:element name="includeUnavailableCallers" type="xs:boolean" minOccurs="0"/>
      <xs:element name="phoneNumberList" type="CriteriaReplacementDNList" nillable="true" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:simpleType name="SelectiveCallRejectionCriteriaCallTypeSelection">
    <xs:annotation>
      <xs:documentation>
        Selection criteria for a call type.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Any"/>
      <xs:enumeration value="Forwarded"/>
      <xs:enumeration value="Specified Only"/>
    </xs:restriction>
  </xs:simpleType>    
    
</xs:schema>
