api/xsd/Rel_17.sp4_1.197_OCISchemaAS/Services/OCISchemaServiceGroupPaging.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2004-2005 Broadsoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  S E R V I C E  P A R T                 -->
<!--                                                                        -->
<!-- G R O U P   P A G I N G  S E R V I C E                                 -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- G R O U P   P A G I N G    R E Q U E S T S  A N D  R E S P O N S E S               -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    GroupGroupPagingAddInstanceRequest    
    GroupGroupPagingAddOriginatorListRequest    
    GroupGroupPagingAddTargetListRequest    
    GroupGroupPagingDeleteInstanceRequest    
    GroupGroupPagingDeleteOriginatorListRequest    
    GroupGroupPagingDeleteTargetListRequest    
    GroupGroupPagingGetAvailableOriginatorListRequest    
    GroupGroupPagingGetAvailableTargetListRequest    
    GroupGroupPagingGetInstanceListRequest    
    GroupGroupPagingGetInstanceRequest17sp3    
    GroupGroupPagingGetOriginatorListRequest    
    GroupGroupPagingGetTargetListRequest    
    GroupGroupPagingModifyActiveInstanceListRequest    
    GroupGroupPagingModifyInstanceRequest    
    GroupGroupPagingModifyOriginatorListRequest    
    GroupGroupPagingModifyTargetListRequest    
    GroupGroupPagingTargetsCapacityGetRequest    
    GroupGroupPagingTargetsCapacityModifyRequest    
    ServiceProviderGroupPagingTargetsCapacityGetRequest    
    ServiceProviderGroupPagingTargetsCapacityModifyRequest    
    UserGroupPagingGetListRequest    
    
  --> 
  
  <xs:complexType name="GroupGroupPagingAddInstanceRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Add a Group Paging instance to a group.
        The domain is required in the serviceUserId.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceAddProfile"/>
          <xs:element name="confirmationToneTimeoutSeconds" type="GroupPagingConfirmationToneTimeoutSeconds"/>
          <xs:element name="deliverOriginatorCLIDInstead" type="xs:boolean"/>
          <xs:element name="originatorCLIDPrefix" type="GroupPagingOriginatorCLIDPrefix" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingAddOriginatorListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Add originator(s) to a paging group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="originatorUserId" type="UserId" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingAddTargetListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Add target(s) to a paging group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="targetUserId" type="UserId" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingDeleteInstanceRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Delete a Group Paging instance from a group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingDeleteOriginatorListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Delete originator(s) from a paging group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="originatorUserId" type="UserId" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingDeleteTargetListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Delete target(s) from a paging group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="targetUserId" type="UserId" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetAvailableOriginatorListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of users that can be assigned as originators to a given paging group.
        Searching for users by group only makes sense when the paging group is part of an Enterprise.
        The response is either GroupGroupPagingGetAvailableOriginatorListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
          <xs:element name="searchCriteriaExactUserGroup" type="SearchCriteriaExactUserGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetAvailableOriginatorListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupGroupPagingGetAvailableOriginatorListRequest.
        Contains a table with column headings: "User Id", "Last Name", "First Name", "Hiragana Last Name" and "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="userTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetAvailableTargetListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of users that can be assigned as targets to a given paging group.
        Searching for users by group only makes sense when the paging group is part of an Enterprise.
        The response is either GroupGroupPagingGetAvailableTargetListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
          <xs:element name="searchCriteriaExactUserGroup" type="SearchCriteriaExactUserGroup" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetAvailableTargetListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupGroupPagingGetAvailableTargetListRequest.
        Contains a table with column headings: "User Id", "Last Name", "First Name", "Hiragana Last Name" and "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="userTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetInstanceListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of Paging Groups instances within a group.
        The response is either GroupGroupPagingGetInstanceListResponse or ErrorResponse.
        It is possible to get the instances within a specified department.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="groupDepartmentName" type="DepartmentName" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetInstanceListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupGroupPagingGetInstanceListRequest.
        Contains a table with column headings:
        "Service User Id", "Name", "Phone Number", "Extension", "Department", "Is Active".
        The column value for "Is Active" can either be true, or false.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="pagingGroupTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetInstanceRequest17sp3">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to get all the information of a Group Paging instance.
        The response is either GroupGroupPagingGetInstanceResponse17sp3 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetInstanceResponse17sp3">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to GroupGroupPagingGetInstanceRequest17sp3.
        Contains the service profile information.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceReadProfile17"/>
          <xs:element name="confirmationToneTimeoutSeconds" type="GroupPagingConfirmationToneTimeoutSeconds"/>
          <xs:element name="deliverOriginatorCLIDInstead" type="xs:boolean"/>
          <xs:element name="originatorCLIDPrefix" type="GroupPagingOriginatorCLIDPrefix" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetOriginatorListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of originators assigned to a paging group.
        The response is either a
        GroupGroupPagingGetOriginatorListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetOriginatorListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupGroupPagingGetOriginatorListRequest.
        Contains a table with column headings: "User Id", "Last Name",
        "First Name", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="originatorTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetTargetListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get a list of targets assigned to a paging group.
        The response is either a
        GroupGroupPagingGetTargetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingGetTargetListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the GroupGroupPagingGetTargetListRequest.
        Contains a table with column headings: "User Id", "Last Name",
        "First Name", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="targetTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingModifyActiveInstanceListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to set the active status of Group Paging instances.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceActivation" type="ServiceActivation" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingModifyInstanceRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to modify a Group Paging instance.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="serviceInstanceProfile" type="ServiceInstanceModifyProfile" minOccurs="0"/>
          <xs:element name="confirmationToneTimeoutSeconds" type="GroupPagingConfirmationToneTimeoutSeconds" minOccurs="0"/>
          <xs:element name="deliverOriginatorCLIDInstead" type="xs:boolean" minOccurs="0"/>
          <xs:element name="originatorCLIDPrefix" type="GroupPagingOriginatorCLIDPrefix" minOccurs="0" nillable="true"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingModifyOriginatorListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to modify the originator list for a paging group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="originatorUserIdList" type="ReplacementUserIdList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingModifyTargetListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request to modify the target list for a paging group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceUserId" type="UserId"/>
          <xs:element name="targetUserIdList" type="ReplacementUserIdList" nillable="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingTargetsCapacityGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request the maximum number of target users per paging group configured for a group.
        The response is either a GroupGroupPagingTargetsCapacityGetResponse
        or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingTargetsCapacityGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to GroupGroupPagingTargetsCapacityGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="maximumTargetUsersFromServiceProvider" type="GroupPagingMaxTargetCapacity"/>
          <xs:element name="maximumTargetUsers" type="GroupPagingMaxTargetCapacity"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupGroupPagingTargetsCapacityModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the maximum number of target users per paging group configured for a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="maximumTargetUsers" type="GroupPagingMaxTargetCapacity" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderGroupPagingTargetsCapacityGetRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Request the maximum number of target users per paging group configured for a service provider.
        The response is either a ServiceProviderGroupPagingTargetsCapacityGetResponse
        or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderGroupPagingTargetsCapacityGetResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to ServiceProviderGroupPagingTargetsCapacityGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="maximumTargetUsers" type="GroupPagingMaxTargetCapacity"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderGroupPagingTargetsCapacityModifyRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Modify the maximum number of target users per paging group configured for a service provider.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="maximumTargetUsers" type="GroupPagingMaxTargetCapacity" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserGroupPagingGetListRequest">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Get the list of all the Paging Groups a user was assigned as an originator.
        The response is either a UserGroupPagingGetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="userId" type="UserId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="UserGroupPagingGetListResponse">
    <xs:annotation>
      <xs:appinfo>
        <asDataModeSupported>true</asDataModeSupported>
        <hssDataModeSupported>false</hssDataModeSupported>
      </xs:appinfo>
      <xs:documentation>
        Response to the UserGroupPagingGetListRequest.
        The groupPagingTable contains columns: "Name", "Phone Number", "Extension" and "Is Active"
        The column value for "Is Active" can either be true, or false.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="pagingGroupTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:simpleType name="GroupPagingConfirmationToneTimeoutSeconds">
    <xs:annotation>
      <xs:documentation>
        Maximum time to wait after the first answer is received from a target before
        sending back the confirmation tone to the originator.
     </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="20"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="GroupPagingMaxTargetCapacity">
    <xs:annotation>
      <xs:documentation>
        Maximum number of targets per Paging Group
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="1000"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="GroupPagingOriginatorCLIDPrefix">
    <xs:annotation>
      <xs:documentation>
        Prefix for Calling Line Id Display.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>    
    
</xs:schema>
