api/xsd/Rel_17.sp4_1.197_OCISchemaAS/Services/OCISchemaServiceTrunkGroup.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- ********************************************************************** -->
<!-- Copyright (c) 2004-2005 Broadsoft, Inc.  All rights reserved.          -->
<!-- ********************************************************************** -->
<!-- O C I   X M L   S C H E M A  :  S E R V I C E  P A R T                 -->
<!--                                                                        -->
<!-- T R U N K   G R O U P  S E R V I C E                                   -->
<!--                                                                        -->
<!-- This file defines the XML Schema for the BroadSoft Application Server  -->
<!-- Open Client Interface (OCI).                                           -->
<!-- ********************************************************************** -->

<xs:schema xmlns:xs             = "http://www.w3.org/2001/XMLSchema"
           xmlns:core           = "C"
           xmlns                = ""
           attributeFormDefault = "qualified"
           elementFormDefault   = "qualified">
  
  <xs:import namespace      = "C"
             schemaLocation = "../OCISchemaBASE.xsd"/>
  
  <xs:include schemaLocation="../OCISchemaDataTypes.xsd"/>
  <xs:include schemaLocation="../OCISchemaSearchCriteria.xsd"/>
  
  <!-- ********************************************************************************** -->
  <!-- T R U N K   G R O U P    R E Q U E S T S  A N D  R E S P O N S E S                 -->
  <!-- ********************************************************************************** -->
  <!--
  Requests and responses are listed here in alphabetical order.
  The non-primitive attributes inside the commands are defined in another
  section of the schema.

  Requests in this schema file:
    EnterpriseEnterpriseTrunkAddRequest    
    EnterpriseEnterpriseTrunkAddUserListRequest    
    EnterpriseEnterpriseTrunkDeleteRequest    
    EnterpriseEnterpriseTrunkDeleteUserListRequest    
    EnterpriseEnterpriseTrunkGetAvailableTrunkGroupListRequest    
    EnterpriseEnterpriseTrunkGetAvailableUserListRequest    
    EnterpriseEnterpriseTrunkGetListRequest    
    EnterpriseEnterpriseTrunkGetRequest    
    EnterpriseEnterpriseTrunkGetUserListRequest    
    EnterpriseEnterpriseTrunkModifyRequest    
    GroupEnterpriseTrunkAddRequest    
    GroupEnterpriseTrunkAddUserListRequest    
    GroupEnterpriseTrunkDeleteRequest    
    GroupEnterpriseTrunkDeleteUserListRequest    
    GroupEnterpriseTrunkGetAvailableTrunkGroupListRequest    
    GroupEnterpriseTrunkGetAvailableUserListRequest    
    GroupEnterpriseTrunkGetListRequest    
    GroupEnterpriseTrunkGetRequest    
    GroupEnterpriseTrunkGetUserListRequest    
    GroupEnterpriseTrunkModifyRequest    
    GroupTrunkGroupAddInstanceRequest17sp4    
    GroupTrunkGroupDeleteInstanceRequest14sp4    
    GroupTrunkGroupGetInstanceListRequest14sp4    
    GroupTrunkGroupGetInstanceRequest17sp4    
    GroupTrunkGroupGetAvailableHostedUserListRequest    
    GroupTrunkGroupGetInstanceUserListRequest14sp4    
    GroupTrunkGroupGetRequest14sp9    
    GroupTrunkGroupModifyInstanceRequest15    
    GroupTrunkGroupModifyRequest14sp9    
    GroupTrunkGroupUserCreationTaskAddRequest14sp4    
    GroupTrunkGroupUserCreationTaskDeleteRequest14sp4    
    GroupTrunkGroupUserCreationTaskGetListRequest14sp4    
    GroupTrunkGroupUserCreationTaskGetRequest14sp4    
    ServiceProviderTrunkGroupGetRequest14sp1    
    ServiceProviderTrunkGroupModifyRequest    
    SystemTrunkGroupUserCreationTaskGetListRequest14sp4    
    
  --> 
  
  <xs:complexType name="EnterpriseEnterpriseTrunkAddRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add an enterprise trunk in an enterprise.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="maximumRerouteAttempts" type="EnterpriseTrunkMaximumRerouteAttempts"/>
          <xs:element name="routeExhaustionAction" type="EnterpriseTrunkRouteExhaustionAction"/>
          <xs:element name="routeExhaustionForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:choice>
            <xs:element name="orderedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="trunkGroup" type="EnterpriseTrunkTrunkGroupKey" minOccurs="0" maxOccurs="10"/>
                  <xs:element name="orderingAlgorithm" type="EnterpriseTrunkOrderingAlgorithm"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="priorityWeightedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="maximumRerouteAttemptsWithinPriority" type="EnterpriseTrunkMaximumRerouteAttempts"/>
                  <xs:element name="priorityWeightedTrunkGroup" type="EnterpriseEnterpriseTrunkPriorityWeightedTrunkGroup" minOccurs="0" maxOccurs="100"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkAddUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add users to an enterprise trunk in an enterprise.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="userId" type="UserId" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete an enterprise trunk in an enterprise.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkDeleteUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete users from an enterprise trunk in an enterprise.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="userId" type="UserId" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetAvailableTrunkGroupListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get the list of all available trunk groups defined in an enterprise.  It is possible to search by various criteria to restrict the number of rows returned.
        Multiple search criteria are logically ANDed together.
        The response is either a EnterpriseEnterpriseTrunkGetAvailableTrunkGroupListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaTrunkGroupName" type="SearchCriteriaTrunkGroupName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaGroupId" type="SearchCriteriaGroupId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetAvailableTrunkGroupListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to EnterpriseEnterpriseTrunkGetAvailableTrunkGroupListRequest.                </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIResponse">
        <xs:sequence>
          <xs:element name="trunkGroup" type="EnterpriseTrunkTrunkGroupKey" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetAvailableUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Request the list of users that are available to be added to an enterprise trunk.  This list contains users in the enterprise that are trunk users and not already assigned to an enterprise trunk.
        It is possible to search by various criteria to restrict the number of rows returned.
        Multiple search criteria are logically ANDed together.
        The response is either an EnterpriseEnterpriseTrunkGetAvailableUserListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaGroupId" type="SearchCriteriaGroupId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaAlternateTrunkIdentity" type="SearchCriteriaAlternateTrunkIdentity" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetAvailableUserListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to EnterpriseEnterpriseTrunkGetAvailableUserListRequest.
        The column headings for the enterpriseTrunkUserTable are: "User Id", "Last Name", "First Name", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="userTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get the list of all enterprise trunks defined in an enterprise.
        The response is either a EnterpriseEnterpriseTrunkGetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to EnterpriseEnterpriseTrunkGetListRequest.
        Contains a table of enterprise trunks defined in the enterprise
        The column headings are: "Enterprise Trunk Name", "Routing Type"
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIResponse">
        <xs:sequence>
          <xs:element name="enterpriseTrunkTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get an enterprise trunk
        The response is either an EnterpriseEnterpriseTrunkGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to EnterpriseEnterpriseTrunkGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="maximumRerouteAttempts" type="EnterpriseTrunkMaximumRerouteAttempts"/>
          <xs:element name="routeExhaustionAction" type="EnterpriseTrunkRouteExhaustionAction"/>
          <xs:element name="routeExhaustionForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:choice>
            <xs:element name="orderedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="trunkGroup" type="EnterpriseTrunkTrunkGroupKey" minOccurs="0" maxOccurs="10"/>
                  <xs:element name="orderingAlgorithm" type="EnterpriseTrunkOrderingAlgorithm"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="priorityWeightedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="maximumRerouteAttemptsWithinPriority" type="EnterpriseTrunkMaximumRerouteAttempts"/>
                  <xs:element name="priorityWeightedTrunkGroup" type="EnterpriseEnterpriseTrunkPriorityWeightedTrunkGroup" minOccurs="0" maxOccurs="100"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Request the list of users in an enterprise trunk.
        It is possible to search by various criteria to restrict the number of rows returned.
        Multiple search criteria are logically ANDed together.
        The response is either a EnterpriseEnterpriseTrunkGetUserListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaGroupId" type="SearchCriteriaGroupId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaAlternateTrunkIdentity" type="SearchCriteriaAlternateTrunkIdentity" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkGetUserListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to EnterpriseEnterpriseTrunkGetUserListRequest.
        The column headings for the enterpriseTrunkUserTable are: "Group Id", "User Id", "Last Name", "First Name", "Phone Number", "Alternate Trunk Identity", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="enterpriseTrunkUserTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify an enterprise trunk in an enterprise.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="newEnterpriseTrunkName" type="EnterpriseTrunkName" minOccurs="0"/>
          <xs:element name="maximumRerouteAttempts" type="EnterpriseTrunkMaximumRerouteAttempts" minOccurs="0"/>
          <xs:element name="routeExhaustionAction" type="EnterpriseTrunkRouteExhaustionAction" minOccurs="0"/>
          <xs:element name="routeExhaustionForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:choice minOccurs="0">
            <xs:element name="orderedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="trunkGroupList" type="ReplacementEnterpriseEnterpriseTrunkTrunkGroupKeyList" minOccurs="0" nillable="true"/>
                  <xs:element name="orderingAlgorithm" type="EnterpriseTrunkOrderingAlgorithm" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="priorityWeightedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="maximumRerouteAttemptsWithinPriority" type="EnterpriseTrunkMaximumRerouteAttempts" minOccurs="0"/>
                  <xs:element name="priorityWeightedTrunkGroupList" type="ReplacementEnterpriseEnterpriseTrunkPriorityWeightedTrunkGroupList" minOccurs="0" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkAddRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add an enterprise trunk in a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="maximumRerouteAttempts" type="EnterpriseTrunkMaximumRerouteAttempts"/>
          <xs:element name="routeExhaustionAction" type="EnterpriseTrunkRouteExhaustionAction"/>
          <xs:element name="routeExhaustionForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:choice>
            <xs:element name="orderedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="trunkGroup" type="TrunkGroupName" minOccurs="0" maxOccurs="10"/>
                  <xs:element name="orderingAlgorithm" type="EnterpriseTrunkOrderingAlgorithm"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="priorityWeightedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="maximumRerouteAttemptsWithinPriority" type="EnterpriseTrunkMaximumRerouteAttempts"/>
                  <xs:element name="priorityWeightedTrunkGroup" type="GroupEnterpriseTrunkPriorityWeightedTrunkGroup" minOccurs="0" maxOccurs="100"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkAddUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to add users to an enterprise trunk in a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="userId" type="UserId" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkDeleteRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete an enterprise trunk in a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkDeleteUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to delete users from an enterprise trunk in a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="userId" type="UserId" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetAvailableTrunkGroupListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get the list of all available trunk groups defined in a group.
        It is possible to search by various criteria to restrict the number of rows returned.
        Multiple search criteria are logically ANDed together.
        The response is either a GroupEnterpriseTrunkGetAvailableTrunkGroupListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaTrunkGroupName" type="SearchCriteriaTrunkGroupName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetAvailableTrunkGroupListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupEnterpriseTrunkGetAvailableTrunkGroupListRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIResponse">
        <xs:sequence>
          <xs:element name="trunkGroupName" type="TrunkGroupName" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetAvailableUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Request the list of users that are available to be added to an enterprise trunk.  This list contains users in the group that are trunk users and not already assigned to an enterprise trunk.
        It is possible to search by various criteria to restrict the number of rows returned.
        Multiple search criteria are logically ANDed together.
        The response is either a GroupEnterpriseTrunkGetAvailableUserListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaAlternateTrunkIdentity" type="SearchCriteriaAlternateTrunkIdentity" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetAvailableUserListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupEnterpriseTrunkGetAvailableUserListRequest.
        The column headings for the enterpriseTrunkUserTable are: "User Id", "Last Name", "First Name", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="userTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetListRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get the list of all enterprise trunks defined in a group.
        The response is either a GroupEnterpriseTrunkGetListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupEnterpriseTrunkGetListRequest.
        Contains a table of enterprise trunks defined in the enterprise
        The column headings are: "Enterprise Trunk Name", "Routing Type"
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIResponse">
        <xs:sequence>
          <xs:element name="enterpriseTrunkTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetRequest">
    <xs:annotation>
      <xs:documentation>
        Request to get an enterprise trunk
        The response is either an GroupEnterpriseTrunkGetResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupEnterpriseTrunkGetRequest.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="maximumRerouteAttempts" type="EnterpriseTrunkMaximumRerouteAttempts"/>
          <xs:element name="routeExhaustionAction" type="EnterpriseTrunkRouteExhaustionAction"/>
          <xs:element name="routeExhaustionForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:choice>
            <xs:element name="orderedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="trunkGroup" type="EnterpriseTrunkTrunkGroupKey" minOccurs="0" maxOccurs="10"/>
                  <xs:element name="orderingAlgorithm" type="EnterpriseTrunkOrderingAlgorithm"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="priorityWeightedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="priorityWeightedTrunkGroup" type="GroupEnterpriseTrunkPriorityWeightedTrunkGroup" minOccurs="0" maxOccurs="100"/>
                  <xs:element name="maximumRerouteAttemptsWithinPriority" type="EnterpriseTrunkMaximumRerouteAttempts"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Request the list of users in an enterprise trunk.
        It is possible to search by various criteria to restrict the number of rows returned.
        Multiple search criteria are logically ANDed together.
        The response is either a GroupEnterpriseTrunkGetUserListResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserId" type="SearchCriteriaUserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaGroupId" type="SearchCriteriaGroupId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaAlternateTrunkIdentity" type="SearchCriteriaAlternateTrunkIdentity" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkGetUserListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to GroupEnterpriseTrunkGetUserListRequest.
        The column headings for the enterpriseTrunkUserTable are: "User Id", "Last Name", "First Name", "Phone Number", "Alternate Trunk Identity", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="enterpriseTrunkUserTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupEnterpriseTrunkModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Request to modify an enterprise trunk in a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="enterpriseTrunkName" type="EnterpriseTrunkName"/>
          <xs:element name="newEnterpriseTrunkName" type="EnterpriseTrunkName" minOccurs="0"/>
          <xs:element name="maximumRerouteAttempts" type="EnterpriseTrunkMaximumRerouteAttempts" minOccurs="0"/>
          <xs:element name="routeExhaustionAction" type="EnterpriseTrunkRouteExhaustionAction" minOccurs="0"/>
          <xs:element name="routeExhaustionForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:choice minOccurs="0">
            <xs:element name="orderedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="trunkGroupList" type="ReplacementGroupEnterpriseTrunkTrunkGroupList" minOccurs="0" nillable="true"/>
                  <xs:element name="orderingAlgorithm" type="EnterpriseTrunkOrderingAlgorithm" minOccurs="0"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="priorityWeightedRouting">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="maximumRerouteAttemptsWithinPriority" type="EnterpriseTrunkMaximumRerouteAttempts" minOccurs="0"/>
                  <xs:element name="priorityWeightedTrunkGroupList" type="ReplacementGroupEnterpriseTrunkPriorityWeightedTrunkGroupList" minOccurs="0" nillable="true"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupAddInstanceRequest17sp4">
    <xs:annotation>
      <xs:documentation>
        Add a Trunk Group instance to a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="name" type="TrunkGroupName"/>
          <xs:element name="pilotUser" type="TrunkGroupMultipleContactPilotUser" minOccurs="0"/>
          <xs:element name="department" type="DepartmentKey" minOccurs="0"/>
          <xs:element name="accessDevice" type="AccessDevice" minOccurs="0"/>
          <xs:element name="maxActiveCalls" type="MaxActiveCalls"/>
          <xs:element name="maxIncomingCalls" type="MaxIncomingCalls" minOccurs="0"/>
          <xs:element name="maxOutgoingCalls" type="MaxOutgoingCalls" minOccurs="0"/>
          <xs:element name="enableBursting" type="xs:boolean"/>
          <xs:element name="burstingMaxActiveCalls" type="BurstingMaxActiveCalls" minOccurs="0"/>
          <xs:element name="burstingMaxIncomingCalls" type="BurstingMaxIncomingCalls" minOccurs="0"/>
          <xs:element name="burstingMaxOutgoingCalls" type="BurstingMaxOutgoingCalls" minOccurs="0"/>
          <xs:element name="capacityExceededAction" type="TrunkGroupCapacityExceededAction" minOccurs="0"/>
          <xs:element name="capacityExceededForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="capacityExceededRerouteTrunkGroupKey" type="TrunkGroupKey" minOccurs="0"/>
          <xs:element name="capacityExceededTrapInitialCalls" type="TrapInitialThreshold"/>
          <xs:element name="capacityExceededTrapOffsetCalls" type="TrapOffsetThreshold"/>
          <xs:element name="unreachableDestinationAction" type="TrunkGroupUnreachableDestinationAction" minOccurs="0"/>
          <xs:element name="unreachableDestinationForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="unreachableDestinationRerouteTrunkGroupKey" type="TrunkGroupKey" minOccurs="0"/>
          <xs:element name="invitationTimeout" type="TrunkGroupInvitationTimeoutSeconds"/>
          <xs:element name="requireAuthentication" type="xs:boolean"/>
          <xs:element name="sipAuthenticationUserName" type="SIPAuthenticationUserName" minOccurs="0"/>
          <xs:element name="sipAuthenticationPassword" type="Password" minOccurs="0"/>
          <xs:element name="hostedUserId" type="UserId" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="trunkGroupIdentity" type="SIPURI" minOccurs="0"/>
          <xs:element name="otgDtgIdentity" type="OtgDtgIdentity" minOccurs="0"/>
          <xs:element name="allowTerminationToTrunkGroupIdentity" type="xs:boolean"/>
          <xs:element name="allowTerminationToDtgIdentity" type="xs:boolean"/>
          <xs:element name="includeTrunkGroupIdentity" type="xs:boolean"/>
          <xs:element name="includeDtgIdentity" type="xs:boolean"/>
          <xs:element name="includeTrunkGroupIdentityForNetworkCalls" type="xs:boolean"/>
          <xs:element name="includeOtgIdentityForNetworkCalls" type="xs:boolean"/>
          <xs:element name="enableNetworkAddressIdentity" type="xs:boolean"/>
          <xs:element name="allowUnscreenedCalls" type="xs:boolean"/>
          <xs:element name="allowUnscreenedEmergencyCalls" type="xs:boolean"/>
          <xs:element name="pilotUserCallingLineIdentityPolicy" type="TrunkGroupPilotUserCallingLineIdentityUsagePolicy"/>
          <xs:element name="pilotUserChargeNumberPolicy" type="TrunkGroupPilotUserChargeNumberUsagePolicy"/>
          <xs:element name="callForwardingAlwaysAction" type="TrunkGroupCallForwardingAlwaysAction" minOccurs="0"/>
          <xs:element name="callForwardingAlwaysForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="callForwardingAlwaysRerouteTrunkGroupKey" type="TrunkGroupKey" minOccurs="0"/>
          <xs:element name="peeringDomain" type="DomainName" minOccurs="0"/>
          <xs:element name="routeToPeeringDomain" type="xs:boolean"/>
          <xs:element name="prefixEnabled" type="xs:boolean"/>
          <xs:element name="prefix" type="TrunkGroupPrefix" minOccurs="0"/>
          <xs:element name="statefulReroutingEnabled" type="xs:boolean"/>
          <xs:element name="sendContinuousOptionsMessage" type="xs:boolean"/>
          <xs:element name="continuousOptionsSendingIntervalSeconds" type="TrunkGroupContinuousOptionsSendingIntervalSeconds"/>
          <xs:element name="failureOptionsSendingIntervalSeconds" type="TrunkGroupFailureOptionsSendingIntervalSeconds"/>
          <xs:element name="failureThresholdCounter" type="TrunkGroupThresholdCounter"/>
          <xs:element name="successThresholdCounter" type="TrunkGroupThresholdCounter"/>
          <xs:element name="inviteFailureThresholdCounter" type="TrunkGroupThresholdCounter"/>
          <xs:element name="inviteFailureThresholdWindowSeconds" type="TrunkGroupFailureThresholdWindowSeconds"/>
          <xs:element name="pilotUserCallingLineAssertedIdentityPolicy" type="TrunkGroupPilotUserCallingLineAssertedIdentityUsagePolicy"/>
          <xs:element name="useSystemCallingLineAssertedIdentityPolicy" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupDeleteInstanceRequest14sp4">
    <xs:annotation>
      <xs:documentation>
        Delete a Trunk Group Instance from a group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetInstanceListRequest14sp4">
    <xs:annotation>
      <xs:documentation>
        Get a list of Trunk Groups for the group or enterprise.
        It is possible to restrict the results to a particular department, or expand the list to the entire enterprise.
        The response is either a GroupTrunkGroupGetInstanceListResponse14sp4 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:choice minOccurs="0">
            <xs:element name="groupDepartmentName" type="DepartmentName"/>
            <xs:element name="includeEnterpriseTrunkGroups" type="xs:boolean" fixed="true"/>
          </xs:choice>
          <xs:element name="onlyTrunkGroupsWithDevice" type="xs:boolean" fixed="true" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetInstanceListResponse14sp4">
    <xs:annotation>
      <xs:documentation>
        Response to GroupTrunkGroupGetInstanceListRequest14sp4.
        Contains a table with column headings "Name", "Department", "Device Name", "Device Level",
        "Group Id".
        The "Device Level" column contains one of the AccessDeviceLevel enumerated constants.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="trunkGroupTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetInstanceRequest17sp4">
    <xs:annotation>
      <xs:documentation>
        Get a Trunk Group Instance's profile.
        The response is either a GroupTrunkGroupGetInstanceResponse17sp4 or an ErrorResponse.
        The response contains a hosted user table with column headings: "User Id", "Last Name",
        "First Name", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetInstanceResponse17sp4">
    <xs:annotation>
      <xs:documentation>
        Response to GroupTrunkGroupGetInstanceRequest17sp4.
        Returns the profile information for the Trunk Group.
        Contains a hosted user table with column headings: "User Id", "Last Name",
        "First Name", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="pilotUserId" type="UserId" minOccurs="0"/>
          <xs:element name="department" type="DepartmentKey" minOccurs="0"/>
          <xs:element name="accessDevice" type="AccessDevice" minOccurs="0"/>
          <xs:element name="maxActiveCalls" type="MaxActiveCalls"/>
          <xs:element name="maxIncomingCalls" type="MaxIncomingCalls" minOccurs="0"/>
          <xs:element name="maxOutgoingCalls" type="MaxOutgoingCalls" minOccurs="0"/>
          <xs:element name="enableBursting" type="xs:boolean"/>
          <xs:element name="burstingMaxActiveCalls" type="BurstingMaxActiveCalls" minOccurs="0"/>
          <xs:element name="burstingMaxIncomingCalls" type="BurstingMaxIncomingCalls" minOccurs="0"/>
          <xs:element name="burstingMaxOutgoingCalls" type="BurstingMaxOutgoingCalls" minOccurs="0"/>
          <xs:element name="capacityExceededAction" type="TrunkGroupCapacityExceededAction" minOccurs="0"/>
          <xs:element name="capacityExceededForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="capacityExceededRerouteTrunkGroupKey" type="TrunkGroupKey" minOccurs="0"/>
          <xs:element name="capacityExceededTrapInitialCalls" type="TrapInitialThreshold"/>
          <xs:element name="capacityExceededTrapOffsetCalls" type="TrapOffsetThreshold"/>
          <xs:element name="unreachableDestinationAction" type="TrunkGroupUnreachableDestinationAction" minOccurs="0"/>
          <xs:element name="unreachableDestinationForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="unreachableDestinationRerouteTrunkGroupKey" type="TrunkGroupKey" minOccurs="0"/>
          <xs:element name="invitationTimeout" type="TrunkGroupInvitationTimeoutSeconds"/>
          <xs:element name="requireAuthentication" type="xs:boolean"/>
          <xs:element name="sipAuthenticationUserName" type="SIPAuthenticationUserName" minOccurs="0"/>
          <xs:element name="hostedUserTable" type="core:OCITable" minOccurs="0"/>
          <xs:element name="trunkGroupIdentity" type="SIPURI" minOccurs="0"/>
          <xs:element name="otgDtgIdentity" type="OtgDtgIdentity" minOccurs="0"/>
          <xs:element name="allowTerminationToTrunkGroupIdentity" type="xs:boolean"/>
          <xs:element name="allowTerminationToDtgIdentity" type="xs:boolean"/>
          <xs:element name="includeTrunkGroupIdentity" type="xs:boolean"/>
          <xs:element name="includeDtgIdentity" type="xs:boolean"/>
          <xs:element name="includeTrunkGroupIdentityForNetworkCalls" type="xs:boolean"/>
          <xs:element name="includeOtgIdentityForNetworkCalls" type="xs:boolean"/>
          <xs:element name="enableNetworkAddressIdentity" type="xs:boolean"/>
          <xs:element name="allowUnscreenedCalls" type="xs:boolean"/>
          <xs:element name="allowUnscreenedEmergencyCalls" type="xs:boolean"/>
          <xs:element name="pilotUserCallingLineIdentityPolicy" type="TrunkGroupPilotUserCallingLineIdentityUsagePolicy"/>
          <xs:element name="pilotUserChargeNumberPolicy" type="TrunkGroupPilotUserChargeNumberUsagePolicy"/>
          <xs:element name="callForwardingAlwaysAction" type="TrunkGroupCallForwardingAlwaysAction" minOccurs="0"/>
          <xs:element name="callForwardingAlwaysForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0"/>
          <xs:element name="callForwardingAlwaysRerouteTrunkGroupKey" type="TrunkGroupKey" minOccurs="0"/>
          <xs:element name="peeringDomain" type="DomainName" minOccurs="0"/>
          <xs:element name="routeToPeeringDomain" type="xs:boolean"/>
          <xs:element name="prefixEnabled" type="xs:boolean"/>
          <xs:element name="prefix" type="TrunkGroupPrefix" minOccurs="0"/>
          <xs:element name="statefulReroutingEnabled" type="xs:boolean"/>
          <xs:element name="sendContinuousOptionsMessage" type="xs:boolean"/>
          <xs:element name="continuousOptionsSendingIntervalSeconds" type="TrunkGroupContinuousOptionsSendingIntervalSeconds"/>
          <xs:element name="failureOptionsSendingIntervalSeconds" type="TrunkGroupFailureOptionsSendingIntervalSeconds"/>
          <xs:element name="failureThresholdCounter" type="TrunkGroupThresholdCounter"/>
          <xs:element name="successThresholdCounter" type="TrunkGroupThresholdCounter"/>
          <xs:element name="inviteFailureThresholdCounter" type="TrunkGroupThresholdCounter"/>
          <xs:element name="inviteFailureThresholdWindowSeconds" type="TrunkGroupFailureThresholdWindowSeconds"/>
          <xs:element name="trunkGroupState" type="TrunkGroupState"/>
          <xs:element name="pilotUserCallingLineAssertedIdentityPolicy" type="TrunkGroupPilotUserCallingLineAssertedIdentityUsagePolicy"/>
          <xs:element name="useSystemCallingLineAssertedIdentityPolicy" type="xs:boolean"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetAvailableHostedUserListRequest">
    <xs:annotation>
      <xs:documentation>
        Get a list of hosted users that can be assigned to a Trunk Group.
        The response is either GroupTrunkGroupGetAvailableHostedUserListResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetAvailableHostedUserListResponse">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupTrunkGroupGetAvailableHostedUserListRequest.
        Contains a table with column headings: "User Id", "Last Name", "First Name", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="userTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetInstanceUserListRequest14sp4">
    <xs:annotation>
      <xs:documentation>
        Get a list of user's on a Trunk Group Instance.
        The response is either a GroupTrunkGroupGetInstanceUserListResponse14sp4 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
          <xs:element name="responseSizeLimit" type="ResponseSizeLimit" minOccurs="0"/>
          <xs:element name="searchCriteriaUserLastName" type="SearchCriteriaUserLastName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaUserFirstName" type="SearchCriteriaUserFirstName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaDn" type="SearchCriteriaDn" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="searchCriteriaExactUserDepartment" type="SearchCriteriaExactUserDepartment" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetInstanceUserListResponse14sp4">
    <xs:annotation>
      <xs:documentation>
        Response to GroupTrunkGroupGetInstanceUserListRequest14sp4.
        The response contains a 7 column table with column headings "User Id", "Last Name",
        "First Name", "Department", "Phone Number", "Hiragana Last Name", "Hiragana First Name".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="trunkGroupUserTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetRequest14sp9">
    <xs:annotation>
      <xs:documentation>
        Get the maximum and bursting maximum permissible active trunk group calls for the group.
        The response is either a GroupTrunkGroupGetResponse14sp9 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupGetResponse14sp9">
    <xs:annotation>
      <xs:documentation>
        Response to the GroupTrunkGroupGetRequest14sp1.
        The response contains the maximum and bursting maximum permissible active trunk group calls for the group.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="maxActiveCalls" type="xs:int"/>
          <xs:element name="maxAvailableActiveCalls" type="UnboundedNonNegativeInt"/>
          <xs:element name="burstingMaxActiveCalls" type="UnboundedNonNegativeInt"/>
          <xs:element name="burstingMaxAvailableActiveCalls" type="UnboundedNonNegativeInt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupModifyInstanceRequest15">
    <xs:annotation>
      <xs:documentation>
        Modify a Trunk Group Instance in a group.
        The access device cannot be modified or cleared if there are any users assigned to the Trunk Group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
          <xs:element name="newName" type="TrunkGroupName" minOccurs="0"/>
          <xs:element name="pilotUserId" type="UserId" nillable="true" minOccurs="0"/>
          <xs:element name="department" type="DepartmentKey" nillable="true" minOccurs="0"/>
          <xs:element name="accessDevice" type="AccessDevice" nillable="true" minOccurs="0"/>
          <xs:element name="maxActiveCalls" type="MaxActiveCalls" minOccurs="0"/>
          <xs:element name="maxIncomingCalls" type="MaxIncomingCalls" nillable="true" minOccurs="0"/>
          <xs:element name="maxOutgoingCalls" type="MaxOutgoingCalls" nillable="true" minOccurs="0"/>
          <xs:element name="enableBursting" type="xs:boolean" minOccurs="0"/>
          <xs:element name="burstingMaxActiveCalls" type="BurstingMaxActiveCalls" nillable="true" minOccurs="0"/>
          <xs:element name="burstingMaxIncomingCalls" type="BurstingMaxIncomingCalls" nillable="true" minOccurs="0"/>
          <xs:element name="burstingMaxOutgoingCalls" type="BurstingMaxOutgoingCalls" nillable="true" minOccurs="0"/>
          <xs:element name="capacityExceededAction" type="TrunkGroupCapacityExceededAction" nillable="true" minOccurs="0"/>
          <xs:element name="capacityExceededForwardAddress" type="OutgoingDNorSIPURI" nillable="true" minOccurs="0"/>
          <xs:element name="capacityExceededRerouteTrunkGroupKey" type="TrunkGroupKey" nillable="true" minOccurs="0"/>
          <xs:element name="capacityExceededTrapInitialCalls" type="TrapInitialThreshold" minOccurs="0"/>
          <xs:element name="capacityExceededTrapOffsetCalls" type="TrapOffsetThreshold" minOccurs="0"/>
          <xs:element name="unreachableDestinationAction" type="TrunkGroupUnreachableDestinationAction" nillable="true" minOccurs="0"/>
          <xs:element name="unreachableDestinationForwardAddress" type="OutgoingDNorSIPURI" nillable="true" minOccurs="0"/>
          <xs:element name="unreachableDestinationRerouteTrunkGroupKey" type="TrunkGroupKey" nillable="true" minOccurs="0"/>
          <xs:element name="invitationTimeout" type="TrunkGroupInvitationTimeoutSeconds" minOccurs="0"/>
          <xs:element name="requireAuthentication" type="xs:boolean" minOccurs="0"/>
          <xs:element name="sipAuthenticationUserName" type="SIPAuthenticationUserName" nillable="true" minOccurs="0"/>
          <xs:element name="sipAuthenticationPassword" type="Password" nillable="true" minOccurs="0"/>
          <xs:element name="hostedUserIdList" type="ReplacementUserIdList" nillable="true" minOccurs="0"/>
          <xs:element name="trunkGroupIdentity" type="SIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="otgDtgIdentity" type="OtgDtgIdentity" minOccurs="0" nillable="true"/>
          <xs:element name="allowTerminationToTrunkGroupIdentity" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowTerminationToDtgIdentity" type="xs:boolean" minOccurs="0"/>
          <xs:element name="includeTrunkGroupIdentity" type="xs:boolean" minOccurs="0"/>
          <xs:element name="includeDtgIdentity" type="xs:boolean" minOccurs="0"/>
          <xs:element name="includeTrunkGroupIdentityForNetworkCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="includeOtgIdentityForNetworkCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="enableNetworkAddressIdentity" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowUnscreenedCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="allowUnscreenedEmergencyCalls" type="xs:boolean" minOccurs="0"/>
          <xs:element name="pilotUserCallingLineIdentityPolicy" type="TrunkGroupPilotUserCallingLineIdentityUsagePolicy" minOccurs="0"/>
          <xs:element name="pilotUserChargeNumberPolicy" type="TrunkGroupPilotUserChargeNumberUsagePolicy" minOccurs="0"/>
          <xs:element name="callForwardingAlwaysAction" type="TrunkGroupCallForwardingAlwaysAction" minOccurs="0" nillable="true"/>
          <xs:element name="callForwardingAlwaysForwardAddress" type="OutgoingDNorSIPURI" minOccurs="0" nillable="true"/>
          <xs:element name="callForwardingAlwaysRerouteTrunkGroupKey" type="TrunkGroupKey" minOccurs="0" nillable="true"/>
          <xs:element name="peeringDomain" type="DomainName" minOccurs="0" nillable="true"/>
          <xs:element name="routeToPeeringDomain" type="xs:boolean" minOccurs="0"/>
          <xs:element name="prefixEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="prefix" type="TrunkGroupPrefix" minOccurs="0" nillable="true"/>
          <xs:element name="statefulReroutingEnabled" type="xs:boolean" minOccurs="0"/>
          <xs:element name="sendContinuousOptionsMessage" type="xs:boolean" minOccurs="0"/>
          <xs:element name="continuousOptionsSendingIntervalSeconds" type="TrunkGroupContinuousOptionsSendingIntervalSeconds" minOccurs="0"/>
          <xs:element name="failureOptionsSendingIntervalSeconds" type="TrunkGroupFailureOptionsSendingIntervalSeconds" minOccurs="0"/>
          <xs:element name="failureThresholdCounter" type="TrunkGroupThresholdCounter" minOccurs="0"/>
          <xs:element name="successThresholdCounter" type="TrunkGroupThresholdCounter" minOccurs="0"/>
          <xs:element name="inviteFailureThresholdCounter" type="TrunkGroupThresholdCounter" minOccurs="0"/>
          <xs:element name="inviteFailureThresholdWindowSeconds" type="TrunkGroupFailureThresholdWindowSeconds" minOccurs="0"/>
          <xs:element name="pilotUserCallingLineAssertedIdentityPolicy" type="TrunkGroupPilotUserCallingLineAssertedIdentityUsagePolicy" minOccurs="0"/>
          <xs:element name="useSystemCallingLineAssertedIdentityPolicy" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupModifyRequest14sp9">
    <xs:annotation>
      <xs:documentation>
        Modify the maximum and bursting maximum permissible active Trunk Group calls for the group.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="groupId" type="GroupId"/>
          <xs:element name="maxActiveCalls" type="xs:int" minOccurs="0"/>
          <xs:element name="burstingMaxActiveCalls" type="UnboundedNonNegativeInt" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupUserCreationTaskAddRequest14sp4">
    <xs:annotation>
      <xs:documentation>
        Add a user creation task for a trunk group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
          <xs:element name="taskName" type="TrunkGroupUserCreationTaskName"/>
          <xs:element name="userIdFormat" type="TrunkGroupUserCreationUserIdFormat"/>
          <xs:element name="userIdDomain" type="NetAddress"/>
          <xs:element name="populateExtension" type="xs:boolean"/>
          <xs:element name="linePortFormat" type="TrunkGroupUserCreationSIPURIFormat"/>
          <xs:element name="linePortDomain" type="NetAddress"/>
          <xs:element name="populateContact" type="xs:boolean"/>
          <xs:element name="contactFormat" type="TrunkGroupUserCreationSIPURIFormat" minOccurs="0"/>
          <xs:element name="contactDomain" type="NetAddress" minOccurs="0"/>
          <xs:choice>
            <xs:element name="userPhoneNumbers">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="phoneNumber" type="DN" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="dnRange" type="DNRange" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="userExtensions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="extension" type="Extension17" minOccurs="0" maxOccurs="unbounded"/>
                  <xs:element name="extensionRange" type="ExtensionRange17" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:choice>
          <xs:element name="servicePackName" type="ServicePackName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="userService" type="UserService" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupUserCreationTaskDeleteRequest14sp4">
    <xs:annotation>
      <xs:documentation>
        Delete a user creation task for a trunk group.
        The response is either SuccessResponse or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
          <xs:element name="taskName" type="TrunkGroupUserCreationTaskName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupUserCreationTaskGetListRequest14sp4">
    <xs:annotation>
      <xs:documentation>
        Get the list of user creation tasks for a trunk group.
        The response is either GroupTrunkGroupUserCreationTaskGetListResponse14sp4 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupUserCreationTaskGetListResponse14sp4">
    <xs:annotation>
      <xs:documentation>
        Response to GroupTrunkGroupUserCreationTaskGetListRequest14sp4.
        Contains a table with a row for each user creation task and column headings :
        "Name", "Status", "Users Created", "Total Users To Create", "Error Count".
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="taskTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupUserCreationTaskGetRequest14sp4">
    <xs:annotation>
      <xs:documentation>
        Request the details of a specified user creation task for a trunk group.
        The response is either GroupTrunkGroupUserCreationTaskGetResponse14sp4 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="trunkGroupKey" type="TrunkGroupKey"/>
          <xs:element name="taskName" type="TrunkGroupUserCreationTaskName"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="GroupTrunkGroupUserCreationTaskGetResponse14sp4">
    <xs:annotation>
      <xs:documentation>
        Response to a GroupTrunkGroupUserCreationTaskGetRequest14sp4.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="userIdFormat" type="TrunkGroupUserCreationUserIdFormat"/>
          <xs:element name="userIdDomain" type="NetAddress"/>
          <xs:element name="populateExtension" type="xs:boolean"/>
          <xs:element name="linePortFormat" type="TrunkGroupUserCreationSIPURIFormat"/>
          <xs:element name="linePortDomain" type="NetAddress"/>
          <xs:element name="populateContact" type="xs:boolean"/>
          <xs:element name="contactFormat" type="TrunkGroupUserCreationSIPURIFormat" minOccurs="0"/>
          <xs:element name="contactDomain" type="NetAddress" minOccurs="0"/>
          <xs:element name="usersCreated" type="xs:int"/>
          <xs:element name="totalUsersToCreate" type="xs:int"/>
          <xs:element name="errorCount" type="xs:int"/>
          <xs:element name="servicePackName" type="ServicePackName" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="userServiceName" type="UserService" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="status" type="TrunkGroupUserCreationTaskStatus"/>
          <xs:element name="userCreationMode" type="TrunkGroupUserCreationMode"/>
          <xs:element name="taskSummary" type="xs:token"/>
          <xs:element name="reportFileKey" type="xs:token"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderTrunkGroupGetRequest14sp1">
    <xs:annotation>
      <xs:documentation>
        Get the maximum and bursting maximum permissible active Trunk Group calls for the service provider.
        The response is either a ServiceProviderTrunkGroupGetResponse14sp1 or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderTrunkGroupGetResponse14sp1">
    <xs:annotation>
      <xs:documentation>
        Response to the ServiceProviderTrunkGroupGetRequest14sp1.
        The response contains the maximum and bursting maximum permissible active trunk group calls for the service provider.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="maxActiveCalls" type="UnboundedNonNegativeInt"/>
          <xs:element name="burstingMaxActiveCalls" type="UnboundedNonNegativeInt"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="ServiceProviderTrunkGroupModifyRequest">
    <xs:annotation>
      <xs:documentation>
        Modify the maximum and bursting maximum permissible active Trunk Group calls for the service provider.
        The response is either a SuccessResponse or an ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence>
          <xs:element name="serviceProviderId" type="ServiceProviderId"/>
          <xs:element name="maxActiveCalls" type="UnboundedNonNegativeInt" minOccurs="0"/>
          <xs:element name="burstingMaxActiveCalls" type="UnboundedNonNegativeInt" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemTrunkGroupUserCreationTaskGetListRequest14sp4">
    <xs:annotation>
      <xs:documentation>
        Get the list of user creation tasks in the system.
        The response is either SystemTrunkGroupUserCreationTaskGetListResponse14sp4 or ErrorResponse.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIRequest">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="SystemTrunkGroupUserCreationTaskGetListResponse14sp4">
    <xs:annotation>
      <xs:documentation>
        Response to SystemTrunkGroupUserCreationTaskGetListRequest14sp4.
        Contains a table with a row for each user creation task and column headings :
        "Trunk Group Name", "Group Id", "Organization Id", "Organization Type", "Name", "Status", "Users Created", "Total Users To Create", "Error Count".
        The "Organization Id" column is populated with either a service provider Id or an enterprise Id.
        The "Organization Type" column is populated with one of the enumerated strings defined in the
        OrganizationType OCI data type.  Please see OCISchemaDataTypes.xsd for details on OrganizationType.
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="core:OCIDataResponse">
        <xs:sequence>
          <xs:element name="taskTable" type="core:OCITable"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>    
    
  <xs:complexType name="EnterpriseEnterpriseTrunkPriorityWeightedTrunkGroup">
    <xs:annotation>
      <xs:documentation>
        Trunk group details (order and weight) for each trunk group
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroup" type="EnterpriseTrunkTrunkGroupKey"/>
      <xs:element name="priority" type="EnterpriseTrunkTrunkGroupPriority"/>
      <xs:element name="weight" type="EnterpriseTrunkTrunkGroupWeight"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:simpleType name="EnterpriseTrunkMaximumRerouteAttempts">
    <xs:annotation>
      <xs:documentation>
        Determines the maximum number of reroute attempts within an enterprise trunk.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="EnterpriseTrunkOrderingAlgorithm">
    <xs:annotation>
      <xs:documentation>
        Enterprise Trunk Ordering Algorithm for an Enterprise Trunk
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Ordered Load Balancing"/>
      <xs:enumeration value="Overflow"/>
      <xs:enumeration value="Most Idle"/>
      <xs:enumeration value="Least Idle"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:complexType name="EnterpriseTrunkPriorityWeightedTrunkGroup">
    <xs:annotation>
      <xs:documentation>
        Trunk group details (order and weight) for each trunk group
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroup" type="EnterpriseTrunkTrunkGroupKey"/>
      <xs:element name="priority" type="EnterpriseTrunkTrunkGroupPriority"/>
      <xs:element name="weight" type="EnterpriseTrunkTrunkGroupWeight"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:simpleType name="EnterpriseTrunkRouteExhaustionAction">
    <xs:annotation>
      <xs:documentation>
        Enterprise Trunk Route Exhaustion Action
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="None"/>
      <xs:enumeration value="Forward"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:complexType name="EnterpriseTrunkTrunkGroupKey">
    <xs:annotation>
      <xs:documentation>
        Identifies a trunk group within an Enterprise Trunk where the service provider id is already known.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="groupId" type="GroupId"/>
      <xs:element name="trunkGroupName" type="TrunkGroupName"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:simpleType name="EnterpriseTrunkTrunkGroupPriority">
    <xs:annotation>
      <xs:documentation>
        Trunk Group priority.
        Identifies the priority of a set of trunkgroup in an Enterprise Trunk
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="10"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="EnterpriseTrunkTrunkGroupWeight">
    <xs:annotation>
      <xs:documentation>
        Trunk Group weight.
        Identifies the weight of each trunkgroup in an Enterprise Trunk
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="65536"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:complexType name="GroupEnterpriseTrunkPriorityWeightedTrunkGroup">
    <xs:annotation>
      <xs:documentation>
        Trunk group details (order and weight) for each trunk group
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroup" type="TrunkGroupName"/>
      <xs:element name="priority" type="EnterpriseTrunkTrunkGroupPriority"/>
      <xs:element name="weight" type="EnterpriseTrunkTrunkGroupWeight"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:simpleType name="OtgDtgIdentity">
    <xs:annotation>
      <xs:documentation>
        Otg Dtg Identity
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:complexType name="ReplacementEnterpriseEnterpriseTrunkTrunkGroupKeyList">
    <xs:annotation>
      <xs:documentation>
        A list of Enterprise Trunk Krunk Group Keys that replaces a previously configured list.
        By convention, an element of this type may be set nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroup" type="EnterpriseTrunkTrunkGroupKey" minOccurs="1" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementEnterpriseTrunkTrunkGroupKeyList">
    <xs:annotation>
      <xs:documentation>
        A list of Enterprise Trunk Krunk Group Keys that replaces a previously configured list.
        By convention, an element of this type may be set nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroupList" type="EnterpriseTrunkTrunkGroupKey" minOccurs="1" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementEnterpriseEnterpriseTrunkPriorityWeightedTrunkGroupList">
    <xs:annotation>
      <xs:documentation>
        A list of enterprise trunk priority weighted trunk groups that replaces a previously configured list.
        By convention, an element of this type may be set nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroup" type="EnterpriseEnterpriseTrunkPriorityWeightedTrunkGroup" minOccurs="1" maxOccurs="100"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementEnterpriseTrunkTrunkGroupList">
    <xs:annotation>
      <xs:documentation>
        A list of Group Trunk Krunk Group Names that replaces a previously configured list.
        By convention, an element of this type may be set nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroup" type="TrunkGroupName" minOccurs="1" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementGroupEnterpriseTrunkPriorityWeightedTrunkGroupList">
    <xs:annotation>
      <xs:documentation>
        A list of enterprise trunk priority weighted trunk groups in a group that replaces a previously configured list.
        By convention, an element of this type may be set nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroup" type="GroupEnterpriseTrunkPriorityWeightedTrunkGroup" minOccurs="1" maxOccurs="100"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:complexType name="ReplacementGroupEnterpriseTrunkTrunkGroupList">
    <xs:annotation>
      <xs:documentation>
        A list of Group Trunk Krunk Group Names that replaces a previously configured list.
        By convention, an element of this type may be set nill to clear the list.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="trunkGroup" type="TrunkGroupName" minOccurs="1" maxOccurs="10"/>
    </xs:sequence>
  </xs:complexType>    
    
  <xs:simpleType name="TrunkGroupCallForwardingAlwaysAction">
    <xs:annotation>
      <xs:documentation>
        Trunk Group call forwarding always action.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Forward"/>
      <xs:enumeration value="Reroute"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupFailureThresholdWindowSeconds">
    <xs:annotation>
      <xs:documentation>
       Failure threshold time window in seconds.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="30"/>
      <xs:maxInclusive value="240"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupContinuousOptionsSendingIntervalSeconds">
    <xs:annotation>
      <xs:documentation>
         Interval at which trunk group continuous OPTIONS messages are sent. 
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="30"/>
      <xs:maxInclusive value="86400"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupFailureOptionsSendingIntervalSeconds">
    <xs:annotation>
      <xs:documentation>
         Interval at which trunk group failure OPTIONS messages are sent. 
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="10"/>
      <xs:maxInclusive value="86400"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupPrefix">
    <xs:annotation>
      <xs:documentation>
         Numeric digit string prefix to be inserted to R-URI based on destination trunk group.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupState">
    <xs:annotation>
      <xs:documentation>
       State of a trunk group.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Available"/>
      <xs:enumeration value="Unavailable"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupThresholdCounter">
    <xs:annotation>
      <xs:documentation>
         Number of failure or success events to trigger a status change for trunk group.
        </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:int">
      <xs:minInclusive value="1"/>
      <xs:maxInclusive value="60"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupUnreachableDestinationAction">
    <xs:annotation>
      <xs:documentation>
        Trunk Group unreachable destination action.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Forward"/>
      <xs:enumeration value="Reroute"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupUserCreationTaskName">
    <xs:annotation>
      <xs:documentation>
        The name of a Trunk Group User Creation Task.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:minLength value="1"/>
      <xs:maxLength value="80"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupUserCreationSIPURIFormat">
    <xs:annotation>
      <xs:documentation>
        SIP URI format for Trunk Group User Creation.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Extension"/>
      <xs:enumeration value="National DN"/>
      <xs:enumeration value="E164 Format No Plus"/>
      <xs:enumeration value="E164 Format"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupUserCreationTaskStatus">
    <xs:annotation>
      <xs:documentation>
        Trunk Group user creation task status.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Pending"/>
      <xs:enumeration value="Processing"/>
      <xs:enumeration value="Completed"/>
      <xs:enumeration value="Failed"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupUserCreationMode">
    <xs:annotation>
      <xs:documentation>
        Trunk Group user creation mode.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Extension"/>
      <xs:enumeration value="Phone Number"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupUserCreationUserIdFormat">
    <xs:annotation>
      <xs:documentation>
        User Id format for Trunk Group User Creation.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="Extension"/>
      <xs:enumeration value="National DN"/>
      <xs:enumeration value="E164 Format No Plus"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupPilotUserChargeNumberUsagePolicy">
    <xs:annotation>
      <xs:documentation>
        Trunk Group Pilot User Charge Number policy
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="All Originating Calls"/>
      <xs:enumeration value="Unscreened Originating Calls"/>
      <xs:enumeration value="No Calls"/>
    </xs:restriction>
  </xs:simpleType>    
    
  <xs:simpleType name="TrunkGroupPilotUserCallingLineIdentityUsagePolicy">
    <xs:annotation>
      <xs:documentation>
        Trunk Group Pilot User Calling Line Identity policy
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:enumeration value="All Originating Calls"/>
      <xs:enumeration value="Unscreened Originating Calls"/>
      <xs:enumeration value="No Calls"/>
    </xs:restriction>
  </xs:simpleType>    
    
</xs:schema>
